* {
  box-sizing: border-box;
  outline: 0;
}

:root {
  --primary-color: rgb(187, 149, 223);
  --segunda-color: rgb(21, 13, 29);
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--primary-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font: size 20px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background: #f5f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.295);
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
}

form input {
  font-size: 25px;
  height: 20px;
  padding: 10px;
  height: 40px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.253);
}

form input:focus {
  outline: 1px solid var(--segunda-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #f5f2f2;
  font-size: 20px;
  font-weight: 300px;
  box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.377);
  height: 40px;
  cursor: pointer;
}

form button:hover {
  background: var(--segunda-color);
}

.paragrafo-resultado,
.bad {
  background: #53e78c;
  padding: 10px;
  border-radius: 10px;
}

.bad {
  background: #f5525f;
  border-radius: 10px;
}
